.modal-container {
	position: absolute;
	width: 38%;
	height: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	color: var(--dark);
	font-size: 0.9em;
	border-radius: 10px;
}
