.taskList {
	box-sizing: border-box;
	min-width: 50%;
	margin-bottom: 0.5rem;
	position: relative;
	top: 1%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.button {
	width: 25px;
	height: 25px;
	font-size: 0.75em;
	border: none;
	margin-right: 2%;
	border-radius: 50%;
	background-color: var(--lightRed);
	color: var(--light);
	margin: 0 0.25rem;
}

.button-container {
	display: inline;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

@media (max-width: 480px) {
	.button {
		width: 20px;
		height: 20px;
	}
	.taskList {
		margin-bottom: 0.25rem;
	}
}
