.timer-container {
	grid-row: 1;
	grid-column: 1 / span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-width: 2px 2px 0 2px;
	font-size: 4em;
	font-weight: bold;
}

.clock-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6.5em;
	width: 6.5em;
	border-radius: 50%;
	background-color: var(--gray);
	color: var(--dark);
}

.timer-buttons {
	display: inline-block;
	width: 45px;
	height: 45px;
	font-size: 0.33em;
	margin: 30px;
	border: none;
	border-radius: 50%;
	background-color: var(--lightRed);
	color: var(--light);
}

/* Mobile Media Query */

@media (max-width: 480px) {
	.timer-container {
		grid-row: 2;
	}

	.clock-container {
		height: 4em;
		width: 4em;
		font-size: 1em;
	}
	.timer-button {
		font-size: 0.25em;
	}
}

/* Tablet Media Query */
@media (min-device-width: 480px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.timer-container {
		grid-row: 2;
		padding: 3%;
		margin: 2%;
	}

	.clock-container {
		height: 6em;
		width: 6em;
		font-size: 1.3em;
	}
	.timer-buttons {
		margin-top: 2%;
		font-size: 0.5em;
	}
}
