/* .modal-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.65);
} */

/* "Create a task modal" */
.task-form-container {
	position: absolute;
	width: 75%;
	height: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: --light;
	color: var(--dark);
	font-size: 0.5em;
	border-radius: 10px;
	/* padding-left: 4%;
	padding-top: 3%; */
	padding-left: 2%;
	padding-top: 1%;
	padding-right: 1%;
	margin-left: -3%;
	margin-top: -3%;
}

h3 {
	text-align: center;
}

.saveButton {
	font-size: 10px;
	margin-top: 3%;
	margin-bot: 3%;
	/* margin: 15px; */
	border: none;
	border-radius: 50%;
	background-color: var(--lightRed);
	color: var(--light);
	padding: 10px;
}
