* {
	box-sizing: border-box;
}

body {
	height: 100vh;
}

#root {
	height: 100vh;
}

.app-container {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
	grid-template-rows: 0.65fr 0.35fr;
	height: 100%;
	width: 100%;
}
