.metrics-container {
	grid-row: 2;
	grid-column: 2;
	background-color: var(--dark);
	color: var(--gray);
}

.metricsHeader {
	text-align: center;
}

/* Mobile Media Query */

@media (max-width: 480px) {
	.metrics-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		font-size: 0.75em;
	}

	.stats-container {
		display: grid;
		grid-template-columns: 0.25fr 0.5fr 0.25fr;
	}
	.stats-ul-container {
		grid-column: 2 / span 2;
	}
}

@media (min-device-width: 480px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.metrics-container {
		grid-row: 3;
		grid-column: 1 / span 2;
	}

	.stats-container {
		display: grid;
		grid-template-columns: 0.25fr 0.5fr 0.25fr;
	}
	.stats-ul-container {
		grid-column: 2 / span 2;
	}
}
